Source: ros-noetic-rqt-human-radar
Section: misc
Priority: optional
Maintainer: Lorenzo Ferrini <lorenzo.ferrini@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-rqt-gui, ros-noetic-rqt-gui-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-rqt-human-radar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-rqt-gui, ros-noetic-rqt-gui-cpp
Description: A radar-like visualization for humans in the scene, representing their position, orientation, engagement level
